*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  height: 100vh;

  gap: 10px;

  background-color: #8758FF;

  /* margin-top: 80px; */
}

.List-content{
  background-color: #1E123B;
  width: 745px;
  height: 495px;

  display: flex;
  justify-content: center;

}

.search-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  align-self: self-start;

  gap: 30px;

  /* border: 1px solid white; */
}

.Input{
  background-color: transparent;
  color: white;

  border: 2px solid white;
  border-radius: 8px;

  width: 310px;
  height: 45px;
}

.Title{
  color: white;
  font-size: 25px;
  margin-top: 50px;
}

.button{
  align-self: flex-end;

  width: 200px;
  height: 50px;

  background-color: #6C45CE;
  color: white;

  border: 2px solid white;
  border-radius: 8px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
